
* {
    font-family: Dosis;
    margin: 0;
    box-sizing: border-box;
}

.categories {
   display: flex;
   flex-shrink: 0;
   flex-grow: 1;
   flex-basis: 256px; 
   flex-direction: column;
   padding: 1em;
}

.categories > a {
    text-decoration: none;
    font-family: "Dosis";
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    background-color: #44b;
    color: white;
    padding: 1em;
}

.categories > a:hover {
    box-shadow: 0 2px 5px -2px black;
    background-color: rgb(21, 21, 143);
}