footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #225;
    padding: 1rem;
    font-family: Dosis;
}

footer > section {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

footer > section:last-child {
    margin-right: 0;
}

h2 {
    display: flex;
    color: white;
    border-bottom: solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: medium;
    letter-spacing: 2px;
}

section > a {
    font-size: small;
    columns: white;
    text-decoration: none;
    text-decoration: bold;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

section > a:hover {
    display:inline-block;
    border-bottom: 1px solid white;
    margin-bottom: 4px;
}